[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=XMage Launcher
Comment=MTG open-source free platform
Exec=bash -c 'java -Xmx2G -jar /home/brisvag/Games/Xmage/XMageLauncher-*.jar'
Terminal=false
